footer{
    background-color: black;
    padding: 20px;
    text-align: left;
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: gray;
    font-size: small;
    width: 100%;
}

.contact a {
    text-decoration: underline;
    color: gray;
}

