/* Ajustando itens da caixa de pesquisa */
.search-container {
    position: relative;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 25px;
    width: 400px;
    height: 50px;
    max-width: 300px;
}


/* configuração do texto de pesquisa */
.search {
    background: none;
    border: none;
    outline: none;
    cursor: text;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 15px;
    color: white;
}
/* configuração do botão de pesquisa da aba de login e registro */
.btn-search2{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 0 25px 25px 0;
}

/* configuração do botão de pesquisa da aba de pesquisa do index ( nao questione mas ta funcionando )*/ 
.btn-search{
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 0;
    transform: translateY(-20%);
    height: 100%;
    width: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 0 25px 25px 0;
}
/* Fim da configuração da caixa de pesquisa */

#search-results {
    margin-top: 10px;
    margin-left: 38%;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
  }
  
  #search-results .search-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }
  
  #search-results .search-item:hover {
    background-color: #f0f0f0;
  }

  .search-item{
    background-color:  #1f2933;
  }

  .postsearch{
    display: flex;
  }